@media print {
	
	/* Global Styles */
	
	body {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 12px;
	}

	table {
		clear: left;
	}

	#logo {
		display: none;
	}

	#content {
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}

	.portal {
		width: 670px;
		float: left;
		color: white;
		background-color: royalblue;
		text-align: center;
	}
	
	div#viewComputer.portal {
		padding-top: 7px;
		padding-bottom: 7px;
		margin-bottom: 5px;
	}
	
	h1#printComputerName, h2#printOS {
		display: inline;
	}
	
	h1#printComputerName {
		margin-right: 20px;
	}

	.noPrint {
		display: none;
	}

#software {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}

#updates {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}
	
#configuration {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}

#printer {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}

#hardware {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}
	
#notes {
	width:49.5%;
	float:left;
	padding-left:0.5%;
	}

#info {
	width:95%;
	float:left;
	padding:0.2%;
	color:#ffffff;
	background-color:#C63;
	text-align:center;
	}
	
	td {
		width:23%;
		padding-left:1%;
		padding-right:1%;
	}

	td.big {
		font-size:26px;
	}
	
	tr.reb_head {
		color: white;
		background-color: royalblue;	
	}

	.tobedone {
		background-color:#CCC;
	}

	#notespan {
		background-color:#CCC;
		padding-left:1%;
		padding-right:1%;
		width:48%;
		min-width:48%;
		margin-bottom:1%;
	}

}