@media print {
	body {
		font-size: 10pt;
		
		color: #222222;
	}

	.noPrint {
		display: none;
	}
	
	.gray {
		color: #222222;
	}
	
	div#content {
		width: 100%;
	}
	
	div#viewComputer.portal {
		margin-bottom: 5px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	h1#printComputerName, h2#printOS {
		display: inline;
	}
	
	h1#printComputerName {
		margin-right: 20px;
	}
}