/* Global Styles */

body {
	width: 50%;
	margin: auto;

	font-family: "Roboto Condensed", sans-serif;
	font-size: 0.95em;

	color: #222222;
}

main, section, header, nav, footer, .hero, .databaseTable, .tableRow, .tableCell, #notesTextArea {
	width: 100%;
	float: left;
}

a {
	text-decoration: none;

	color: inherit;
}

@media print {
	body {
		width: 100%;

		font-size: 10pt;
	}

	header img, header nav, footer {
		display: none;
	}
}

.red {
	color: crimson !important;
}

.green {
	color: seagreen !important;
}

.blue {
	color: royalblue !important;
}

.gray {
	background-color: lightgray;
	transition: background-color 0.5s, color 0.5s;
}

.gray a {
	color: white;
}

.gray:hover {
	color: white;
	background-color: slategray;
}

.gray:hover a {
	text-decoration: underline;

	color: inherit !important;
}

/* Header & Footer Styles */

nav, footer {
	padding-top: 2px;
	padding-bottom: 2px;

	font-size: 1.1em;
	text-align: center;
}

nav {
	border-radius: 4px 4px 0px 0px;
}

footer {
	border-radius: 0px 0px 4px 4px;
}

#homeNav, #customNav, #logoutNav {
	font-weight: bold;
}

#homeNav {
	float: left;
	padding-left: 6px;
}

#customNav, #logoutNav {
	float: right;
	padding-right: 6px;
}

header.hero {
	text-align: center;
}

header.hero.blue {
	color: white !important;
	background-color: royalblue;
	transition: background-color 0.25s;
}

header.hero.blue:hover {
	background-color: #3058D0;
}

/* Table Styles */

.halfWidth {
	width: 50%;
}

.quarterWidth {
	width: 25%;
}

#computer_nameValue {
	font-size: 1.4em;
}

#databaseTable {
	max-height: 550px;
	overflow-y: scroll;
}

.tableRow {
	clear: left;
	padding: 4px 0px;
}

header.tableRow h3 {
	margin: 0px;
	padding: 4px;
}

.tableCell {
	min-height: 22px;
}

.tableCell.gray {
	background-color: #e5f3ff;
	transition: background-color 0.5s, color 0.5s;
}

.tableCell.gray:hover {
	color: inherit;
	background-color: #ccdae6;
}

.tableCell input.editMode {
	width: 90%;
}

#notesInput {
	height: 75px;
	resize: none;
}