/* Global Styles */

body {
	width: 50%;
	margin: auto;

	font-family: "Roboto Condensed", sans-serif;
	font-size: 0.95em;

	color: #222222;
}

a {
	text-decoration: none;

	color: inherit;
}

main {
	width: 100%;
	float: left;
}

@media print {
	body {
		width: 100%;
		
		font-size: 10pt;
	}

	header, footer {
		display: none;
	}
}

.red {
	color: crimson !important;
}

.green {
	color: seagreen !important;
}

.blue {
	color: royalblue !important;
}

.gray {
	background-color: lightgray;
	transition: background-color 0.5s, color 0.5s;
}

.gray a {
	color: white;
}

.gray:hover {
	color: white;
	background-color: slategray;
}

.gray:hover a {
	text-decoration: underline;

	color: inherit !important;
}

/* Header & Footer Styles */

header {
	width: 100%;
	float: left;
}

nav, footer {
	width: 100%;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;

	font-size: 1.1em;
	text-align: center;
}

nav {
	border-radius: 4px 4px 0px 0px;
}

footer {
	border-radius: 0px 0px 4px 4px;
}

#homeNav, #customNav, #logoutNav {
	font-weight: bold;
}

#homeNav {
	float: left;
	padding-left: 6px;
}

#customNav, #logoutNav {
	float: right;
	padding-right: 6px;
}

.hero {
	width: 100%;
	float: left;

	text-align: center;
}

.hero.blue {
	color: white !important;
	background-color: royalblue;
	transition: background-color 0.25s;
}

.hero.blue:hover {
	background-color: #3058D0;
}

/* Table Styles */

#computerName {
	font-size: 1.4em;
}

div#databaseTable {
	float: left;
	width: 100%;
	max-height: 550px;
	overflow-y: scroll;
}

div.tableHeader {
	width: 100%;
	float: left;
}

div.tableHeader h3 {
	margin: 0px;
	padding: 4px;
}

div.tableRow {
	width: 100%;
	float: left;
	clear: left;
	padding: 4px 0px;
}

div.tableCell {
	width: 25%;
	float: left;
	min-height: 22px;
}

div.tableCell.gray {
	background-color: #e5f3ff;
	transition: background-color 0.5s, color 0.5s;
}

div.tableCell.gray:hover {
	color: inherit;
	background-color: #ccdae6;
}

div.tableSection {
	width: 50%;
	float: left;
}

div.tableCell input.editMode {
	width: 90%;
}

textarea#notesTextArea {
	width: 100%;
	height: 75px;
	resize: none;
}